<div class="wrapper">
    <div class="hangman">
        <app-hangman (dead)="onDead()"></app-hangman>
    </div>

    <div class="list-letters">
        <div *ngFor="let letter of displayed; let i = index"
            class="letter displayed"
            [class.revealed]="reveal && letter === ' '">
            {{ (reveal ? word[i] : letter) | uppercase }}
        </div>
    </div>

    <app-keyboard
        [correct]="displayed"
        [wrong]="wrongGuesses"
        (enter)="onEnter($event)"
    ></app-keyboard>
</div>
