<!-- <div *ngIf="word$ | async as word">
</div> -->
<div class="wrapper">
    <div class="hangman">
        <app-hangman (dead)="onDead()"></app-hangman>
    </div>

    <div *ngIf="reveal" class="list-letters">
        {{ word }}
    </div>

    <div class="list-letters">
        <div *ngFor="let letter of displayed" class="letter displayed">
            {{ letter }}
        </div>
    </div>

    <div class="list-letters wrong-guesses">
        <div *ngFor="let letter of wrongGuesses" class="letter">{{ letter | uppercase }}</div>
    </div>
</div>